.root {
     -fx-background-color: #5e5e5e;
}

.label {
	-fx-text-fill: #eee;
	
}

#user-login-title {
	-fx-fill: #ddd;
	-fx-font-family: "Tahoma";
	-fx-font-weight: normal;
	-fx-font-size: 32px;

}

#error-message {
	-fx-fill: #FF3333;
}

#play-screen-title {
	-fx-font-family: "Eras Light ITC";
	-fx-font-size: 30px;
}